<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crypto Scanner</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/find">Find</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Accounts</a>
                    <div class="dropdown-content">
                        <a href="/find">Get MATIC Balance for a Single Address</a>
                        <a href="/find">Get MATIC Balance for Multiple Addresses in a Single Call</a>
                        <a href="/find">Get Historical MATIC Balance for a Single Address by BlockNo</a>
                        <a href="/find">Get a list of 'Normal' Transactions By Address</a>
                        <a href="/find">Get a list of 'Internal' Transactions by Address</a>
                        <a href="/find">Get 'Internal Transactions' by Transaction Hash</a>
                        <a href="/find">Get 'Internal Transactions' by Block Range</a>
                        <a href="/find">Get a list of 'ERC-20 Token Transfer Events' by Address</a>
                        <a href="/find">Get a list of 'ERC-721 Token Transfer Events' by Address</a>
                        <a href="/find">Get a list of 'ERC1155 - Token Transfer Events' by Address</a>
                        <a href="/find">Get list of Blocks Validated by Address</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Contracts</a>
                    <div class="dropdown-content">
                        <a href="/find">Get Contract ABI for Verified Contract Source Codes</a>
                        <a href="/find">Get Contract Source Code for Verified Contract Source Codes</a>
                        <a href="/find">Get Contract Creator and Creation Tx Hash</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Transactions</a>
                    <div class="dropdown-content">
                        <a href="/find">Check Transaction Receipt Status</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Blocks</a>
                    <div class="dropdown-content">
                        <a href="/find">Get Estimated Block Countdown Time by BlockNo</a>
                        <a href="/find">Get Block Number by Timestamp</a>
                        <a href="/find">Get Daily Average Block Size</a>
                        <a href="/find">Get Daily Block Count and Rewards</a>
                        <a href="/find">Get Daily Average Time for A Block to be Included in the Polygon POS Chain</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div>
            <center class="vertical-right">
                <h1>Crypto Scanner</h1>
                <form action="{{ url_for("main")}}" method="post">
                    <input type="text" name="contract" class="searchbar" id="contract" placeholder="Address">
                    <input type="datetime-local" id ="start" name="start">
                    <input type="datetime-local" id ="end" name="end"><br>
                    <input type="submit" value="Submit">
                </form>
            </center>
        </div>
    </body>
</html>