<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crypto Scanner</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/find">Find</a></li>
        </ul>
    </div>
        <div>
            <center class="vertical-right">
                <h1>Crypto Scanner</h1>
                <form action="../main.py">
                    <input type="text" name="q" class="searchbar" id="contract" placeholder="Token Contract">
                    <input type="datetime-local" id = "start">
                    <input type="datetime-local" id="end">
                    <input type="submit" value="Submit">
                </form>
            </center>
        </div>
    </body>
</html>